body{
    background-color: wheat;
    font-size: large;
    main{
        .conditions{
            padding: 1%;
            padding-bottom: 2%;
            width: 50%;
            background-color: rgba(255, 0, 0, 0.125);
            margin-bottom: 3%;
        }
        .arrays{
            padding: 1%;
            padding-bottom: 2%;
            width: 50%;
            background-color: rgba(255, 0, 0, 0.125);
            margin-bottom: 3%;
        }
    }
}